html
    head
        title="Hola PUG"
    body
        table
            tr
                th="Title"
                th="Price"
                th="Photo"
            each val in mensaje 
                tr
                    th=val.title 
                    th=val.price 
                    th
                        img(src=val.thumbnail)
        




    